mat-card {
    width: 100%;
    background-color: rgb(240, 240, 240);
    color: rgb(70, 119, 209);
    align-items: center;
}

.green {
    background-color: rgb(18, 69, 165);
}

.red {
    background-color: rgb(192, 192, 192);
}